.navbar{
    display: flex;
    list-style-type: none;
    justify-content: center;
    height: 50px;
}
li{
    font-weight: 700;
    font-size: 20px;
}
.items:hover{
    border-radius: 10px;
    background: orange;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    width: auto;
    height: 45px;
    padding: 0;
}